  <servlet>
        <servlet-name>UserNameAddress</servlet-name>
        <servlet-class>UserNameAddress</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LastAccessedHttp</servlet-name>
        <servlet-class>LastAccessedHttp</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>LastAccessedHttp</servlet-name>
        <url-pattern>/servlets/servlet/LastAccessedHttp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
